<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>986616049917-ejnd5b4787jv8m7mo24hoodstogv091o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaTl7bGd9azt_X3tHLpi70pElMFT-V8ao</string>
	<key>GCM_SENDER_ID</key>
	<string>986616049917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loan112app</string>
	<key>PROJECT_ID</key>
	<string>loan112-7aa78</string>
	<key>STORAGE_BUCKET</key>
	<string>loan112-7aa78.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986616049917:ios:30a9a07b619b0b614b8e94</string>
</dict>
</plist>